doctype html 
html
  head
    title RDA
    block style 
    block scripts
  body
    nav#navbar
        ul 
            div#logo
                img(src="/static/logo.png")
                |    RDA
            li #[a(href="/") Home] 
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Information]
            li #[a(href="../contact.pug") Contact Us]
    block content
    footer#footer 
        | Copyright © 2019 RDA.com | All Rights Reserved